<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="news_admin_jpa">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <dependent-module archiveName="newscommon-0.0.3-SNAPSHOT.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/news_common_jpa/news_common_jpa">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="news_admin_jpa"/>
        <property name="java-output-path" value="/news_admin_jpa/target/classes"/>
    </wb-module>
</project-modules>
